<div class="row">
	<div class="large-12 columns">
		<div class="row">
			<div class="small-6 columns">
				<%= image_tag("power-hour-logo.png", :size => "65x65", :class => "left inline") %>
				<span class="inline"><h2>Video Power Hour</h2> </span>
			</div>
			<div class="small-6 columns">
				<br />
				<p> <%= render 'default_playlists' %> </p>
				
			</div>
		</div>

		<div class="row">
			<div class="small-6 columns">
				<span id="playlistTitle">
					<%= render 'layouts/playlist_title' %>
				</span>
				<ul class="button-group radius">
					<li id="play"><a href="javascript:startVideo()" class="button radius">Start</a></li>
					<li id="pause"><a href="javascript:void(0)" class="button radius disabled">Pause</a></li>
				</ul>

			</div>

			<div class="small-6 columns">
				<%= render 'search' %>
				<!-- <span data-tooltip class="has-tip tip-top" id="progress-tip" title="60 minutes remaining"> -->
					<label for="progress-bar" id="progress-text" class="right inline">60 minutes remaining</label>
					<div class="progress large-6 radius">
						<span class="meter" style="width: 0%" id="progress-bar"></span>
					</div>
				<!-- </span> -->
			</div>
		</div>

		<div class="row">
			<div class="large-12 column">
				<%= render 'player' %>
			</div>
		</div>
	</div>

</div>

<script>
$(document).ready(function() {
	var currentXHR;

	$('.playlist-link').bind('click', prepPlaylistRequest);
	$('.playlist-link').bind('ajax:beforeSend', function(event, jqXHR) {
		
		if (currentXHR != null) {
			currentXHR.abort();
		}
		
		currentXHR = jqXHR; // Cache the XHR request
  		
	});

	
});
</script>